h1{
    color : #ff00ff
}
h2{
    color : red
}
*{
    /* border : solid ; */
    background-color : cadetblue ;
    margin : 30px;
}
body{
    background-color: #808080;
}
.header{
     background-color : #808080 ; 
    display : flex ;
    justify-content : space-between ;

}

.games{
    /* background-color : lightblue ; */
    justify-content : space-evenly ;
}
.games p{
    position : absolute ;
    top : 50% ;
    left : 50% ;
    transform : translate(-50% , -50%) ;
    opacity : 0 ;
} 
.games:hover p{
    opacity : 1 ;
}
.games img{
    opacity : 0.3 ;
}
.games:hover img{
    opacity : 1 ;
}

.socialmedia{
    /* background-color : seagreen ; */
    display : flex ;
    justify-content : flex-end
}

a:link{
    color : white
}

a:visited{
    color: black
}

.menu{
    margin-right : 45px;
}

.menu a{
    margin-left : 50px;
}